/** 
 * CSS for gallery.php
 */
ul.gallery {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

ul.gallery li{
  display: inline-block;
  margin: 0 auto;
  width: 18em; 
  height: 30em; 
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  padding: 4px;
}

ul.gallery li figure {
  margin: 0 auto;
}

ul.gallery li figure figcaption {
  font-size: 0.9em;
  color: #666;
  text-align: left;
}

ul.gallery li:hover  {
  background-color: #faf1b4;
}

ul.gallery li:hover figcaption {
  color: #111;
}

ul.gallery li a  {
  text-decoration: none;
}
ul.gallery li figure figcaption span{
  color: #cd3434;
  font-weight: bold;
}
