.nb-skype
{
    margin: 0 auto;

}
.nb-skype ul 
{

    list-style: none; 
    margin: 0; 
    padding: 0;
    background: #de1818; 
    background: linear-gradient(top, #de1818 0%, #f85757 60%);  
    background: -moz-linear-gradient(top, #de1818 0%, #f85757 60%); 
    background: -webkit-linear-gradient(top, #de1818 0%,#f85757 60%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;  
    position: relative;

}
.nb-skype li 
{ 
    margin: 0.5em;
    display: inline-block;
    position: relative; 
}
ul.nb-skype li:first-child {
    padding-left: 0;
}

.nb-skype ul:after 
{
    content: "";
    clear: both;
    display: block;
}
.nb-skype a {

    color: #000;
    font:bold 16px Helvetica,Arial,sans-serif;
    padding:8px;
    text-decoration:none;
    padding: 0.5em;
    display: block; 
}

.nb-skype li:hover 
{
    background:#f85757;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 

.nb-skype li.selected-parent, 
.nb-skype li.selected 
{

    background:#4dabe7;

    color:#FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.nb-skype ul ul 
{
    background-color: #4b545f; 
    padding: 8px; 
    position: absolute; 
    left: -9999px; 
    z-index: 2;
}
.nb-skype ul ul li 
{
    float: none; 
    position: relative;
}
.nb-skype li li 
{
    border-top: none;  
    border-left: 4px solid transparent;  
}

.nb-skype li:hover > ul 
{
    color: #fff; 
    left: 0;
}

.nb-skype li li:hover {
    background-color: #9bccec;

}

.nb-skype li li.selected {

    background:#9bccec;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



.sidebarNav
{
    margin: 0 auto;

}
.sidebarNav ul 
{

    list-style: none; 
    margin: 0; 
    padding: 0;
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;  
    position: relative;

}
.sidebarNav li 
{ 
    margin: 0.5em;

    position: relative; 
}
ul.sidebarNav li:first-child {
    padding-left: 0;
}

.sidebarNav ul:after 
{
    content: "";
    clear: both;
    display: block;
}
.sidebarNav a {

    color: #000;
    font:bold 16px Helvetica,Arial,sans-serif;
    padding:8px;
    text-decoration:none;
    padding: 0.5em;
    display: block; 
}

.sidebarNav li:hover 
{
    background:#4dabe7;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 

.sidebarNav li.selected-parent, 
.sidebarNav li.selected 
{

    background:#4dabe7;

    color:#FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.sidebarNav ul ul 
{
    background-color: #4b545f; 
    padding: 8px; 
    position: absolute; 
    left: -9999px; 
    z-index: 2;
}
.sidebarNav ul ul li 
{
    float: none; 
    position: relative;
}
.sidebarNav li li 
{
    border-top: none;  
    border-left: 4px solid transparent;  
}

.sidebarNav li:hover > ul 
{
    color: #fff; 
    left: 0;
}

.sidebarNav li li:hover {
    background-color: #9bccec;

}

.sidebarNav li li.selected {

    background:#9bccec;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

