.main-nav {
    margin: 0 auto;
}

.main-nav ul {
    list-style: none; 
    margin: 0 auto; 
}

.main-nav li {
    
    margin: 1em;
    display: inline-block;
    position: relative; 
}

ul.main-nav li:first-child {
    padding-left: 0;
}

.main-nav ul:after {
    
    content: "";
    clear: both;
    display: block;
}

.main-nav a {

    color: #ffff00;
    font:bold 16px Helvetica,Arial,sans-serif;
    padding:5px;
    text-decoration:none;
    padding: 1.8em;
    display: block; 
}

.main-nav a:hover {

    color: #ffff00;
    text-decoration:none;
}

.main-nav li:hover {
    
    background: #f2adad;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 

.main-nav li selected-parent, .main-nav li.selected {
    
    background: linear-gradient(bottom, #de1818 0%, #f2adad 50%);  
    background: -moz-linear-gradient(bottom, #de1818 0%, #f2adad 50%); 
    background: -webkit-linear-gradient(bottom, #de1818 0%,#f2adad 50%); 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main-nav ul ul {
    
    background-color: #4b545f; 
    padding: 8px; 
    position: absolute; 
    left: -9999px; 
    z-index: 2;
}

.main-nav ul ul li {
    
    float: none; 
    position: relative;
}

.main-nav li li {
    
    border-top: none;  
    border-left: 4px solid transparent;  
}

.main-nav li:hover > ul {
    
    background: #de1818; 
    background: linear-gradient(top, #de1818 0%, #f85757 60%);  
    background: -moz-linear-gradient(top, #de1818 0%, #f85757 60%); 
    background: -webkit-linear-gradient(top, #de1818 0%,#f85757 60%); 
    border-radius: 5px;
    color: #fff; 
    left: 0;
}

.main-nav li li:hover {
    background-color: #f2adad;
    border-radius: 5px;
}

.main-nav li li.selected {

    background:#9bccec;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



.sidebarNav {
    
    margin: 0 auto;
}

.sidebarNav ul {

    list-style: none; 
    margin: 0; 
    padding: 0;
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;  
    position: relative;

}

.sidebarNav li {
    
    margin: 0.5em;
    position: relative; 
}

ul.sidebarNav li:first-child {
    
    padding-left: 0;
}

.sidebarNav ul:after {

    content: "";
    clear: both;
    display: block;
}

.sidebarNav a {

    color: #000;
    font:bold 16px Helvetica,Arial,sans-serif;
    padding:8px;
    text-decoration:none;
    padding: 0.5em;
    display: block; 
}

.sidebarNav li:hover {
    
    background:#4dabe7;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 

.sidebarNav li.selected-parent, 
.sidebarNav li.selected {

    background:#4dabe7;
    color:#FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sidebarNav ul ul {
    
    background-color: #4b545f; 
    padding: 8px; 
    position: absolute; 
    left: -9999px; 
    z-index: 2;
}

.sidebarNav ul ul li {
    
    float: none; 
    position: relative;
}

.sidebarNav li li {
    
    border-top: none;  
    border-left: 4px solid transparent;  
}

.sidebarNav li:hover > ul {
    
    color: #fff; 
    left: 0;
}

.sidebarNav li li:hover {
    
    background-color: #9bccec;
}

.sidebarNav li li.selected {

    background:#9bccec;
    color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
